<h1>Restaurant:</h1>

<div>
    <form>
        <table *ngIf="restaurant">
            <tr>
                <td>Restaurant Name:</td>
                <td>{{restaurant.name}}</td>
            </tr>
            <tr></tr>
            <tr>
                <td>Cuisine:</td>
                <td>{{restaurant.cuisine}}</td>
            </tr>
            <tr></tr>
            <tr>
                <td>Address:</td>
                <td>{{restaurant.address}}</td>
            </tr>
            <tr></tr>
            <tr>
                <td>Map:</td>
            </tr>
        </table>
    </form>
</div>